{% extends 'admin/baseControl.html' %}
{% block control %}

<form enctype="multipart/form-data" action="" method="post" class="CairoPlay">
    <div class="form-floating">
        <input type="text" class="form-control mb-3" id="name" name="name" placeholder="عنوان المقال">
        <label for="name">عنوان المقال</label>
    </div>

    <div class="form-floating">
        <textarea style="min-height: 300px" class="form-control mb-3" id="text" name="text" placeholder="نص المقال"></textarea>
        <label for="text">نص المقال</label>
    </div>

    <input class="btn btn-dark float-end" type="submit" value="إضافة">
</form>


{% endblock %}