{% extends 'admin/baseControl.html' %}
{% block control %}

<form enctype="multipart/form-data" action="" method="post" class="CairoPlay">
    <!-- <div {% if status != 0 %} hidden {% endif %} class="alert alert-danger" role="alert">
        هناك خطأ
    </div>
    <div {% if status != 1 %} hidden {% endif %} class="alert alert-success" role="alert">
        تمت الإضافة بنجاح
    </div> -->
    <div class="form-floating">
        <input type="text" class="form-control mb-3" id="name" name="name" placeholder="إسم الموقع">
        <label for="name">إسم الكتاب</label>
    </div>

    <div class="form-floating">
        <textarea style="min-height: 100px" type="text" class="form-control mb-3" id="description" name="description" placeholder="وصف الكتاب"></textarea>
        <label for="description">وصف الكتاب</label>
    </div>

    <div>
        <label for="image">صورة الكتاب</label>
        <input type="file" class="form-control mb-3" id="image" name="image">
    </div>

    <div>
        <label for="link">رابط الكتاب</label>
        <input type="file" class="form-control mb-3" id="link" name="link">
    </div>

    <input class="btn btn-dark float-end" type="submit" value="إضافة">
</form>


{% endblock %}