{% extends 'admin/base.html' %}
{% block main %}


<!-- Articles section-->
<section>
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-md-4">                
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action {%if title=='لوحة التحكم' %}list-group-item-warning{%endif%}"><a class="text-decoration-none text-dark" href="{{ url_for('admin.home') }}">الإعدادات</a></li> <!-- aria-current="true" -->
                    <li class="list-group-item list-group-item-action {%if title=='تغيير كلمة المرور' %}list-group-item-warning{%endif%}"><a class="text-decoration-none text-dark" href="{{ url_for('admin.changePassword') }}">تغيير كلمة المرور</a></li>
                    <li class="list-group-item list-group-item-action {%if itemName=='book' %}list-group-item-warning{%endif%}"><a class="text-decoration-none text-dark" href="./listOfItems?name=book">الكتب</a></li>
                    <li class="list-group-item list-group-item-action {%if itemName=='presentation' %}list-group-item-warning{%endif%}"><a class="text-decoration-none text-dark" href="./listOfItems?name=presentation">العروض التقديمية</a></li>
                    <li class="list-group-item list-group-item-action {%if itemName=='video' %}list-group-item-warning{%endif%}"><a class="text-decoration-none text-dark" href="./listOfItems?name=video">مقاطع الفيديو</a></li>
                    <li class="list-group-item list-group-item-action {%if title=='قائمة المقالات' %}list-group-item-warning{%endif%}"><a class="text-decoration-none text-dark" href="{{ url_for('admin.adminArticles') }}">المقالات</a></li>
                </ul>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-7">
                <div class="row CairoPlay">
                    {% with messages = get_flashed_messages(category_filter=["success"]) %}
                        {% if messages %} 
                        <div class="alert alert-success" role="alert">
                            {% for msg in messages %}
                                <li>{{msg}}</li>
                            {% endfor %}
                        </div>
                        {% endif %} 
                    {% endwith %}
                    {% with messages = get_flashed_messages(category_filter=["danger"]) %}
                        {% if messages %} 
                        <div class="alert alert-danger" role="alert">
                            <ul>
                            {% for msg in messages %}
                                <li>{{msg}}
                                
                                    {% with reasons = get_flashed_messages(category_filter=["reasons"]) %}
                                        {% if messages %} 
                                        <ul>
                                            {% for reason in reasons %}
                                                <li>{{reason}}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    {% endwith %}
                                    
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    {% endwith %}
            
                    {% block control %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
