{% extends 'admin/base-control.html' %}
{% block control %}

<form action="" method="post" class="CairoPlay">
    <div {% if not show_old_password  %} hidden {% endif %} class="form-floating">
        <input type="password" class="form-control mb-3" id="old_password" name="old_password" placeholder="كلمة المرور القديمة">
        <label for="old_password">كلمة المرور القديمة</label>
    </div>

    <div class="form-floating">
        <input type="password" class="form-control mb-3" id="new_password" name="new_password" placeholder="كلمة المرور الجديدة">
        <label for="new_password">كلمة المرور الجديدة</label>
    </div>

    <input class="btn btn-dark float-end" type="submit" value="حفظ">
</form>

{% endblock %}
