{% extends 'admin/base-control.html' %}
{% block control %}

<form enctype="multipart/form-data" action="" method="post" class="CairoPlay row g-3">
    <div>
        <label for="image">صورة {{title}}</label>
        <div>
            <input type="file" class="mb-5" id="image" name="image">
            <input value="تعديل {{title}}" id="enable-link" type="submit" class="btn btn-dark"/>
        </div>
        <img class="img-fluid img-thumbnail" src="../{{item[3]}}" />
    </div>
</form>

{% endblock %}