{% extends 'admin/base-control.html' %}
{% block control %}

<form enctype="multipart/form-data" action="" method="post" class="CairoPlay row g-3">
    <div class="form-floating">
        <input type="text" class="form-control mb-3" id="name" name="name" placeholder="إسم الموقع" value="{{book[1]}}">
        <label for="name">إسم الكتاب</label>
    </div>

    <div class="form-floating">
        <textarea style="min-height: 100px" class="form-control mb-3" id="description" name="description" placeholder="عنوان الغلاف">{{book[2]|safe}}</textarea>
        <label for="description">وصف الكتاب</label>
    </div>
    
    <input class="btn btn-dark float-end" type="submit" value="تعديل">
</form>


{% endblock %}