{% extends 'base.html' %}
{% block main %}

<!-- Books section-->
<section class="bg-light" id="book">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-12">
                <h2 class="title mb-4 text-center">{{title}}</h2>                
                {% for para in articleText %}
                <p class="article-paragraph text-justify h5">{{para|safe}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
